@font-face {
  font-family: 'franchiseregular';
  src: url('./assets/Fonts/Franchise/franchise-webfont.woff2') format('woff2'),
       url('./assets/Fonts/Franchise/franchise-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'varsityregular';
  src: url('./assets/Fonts/varsity/varsity_regular-webfont.woff2') format('woff2'),
       url('./assets/Fonts/varsity/varsity_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'hey_augustregular';
  src: url('./assets/Fonts/august/hey_august-webfont.woff2') format('woff2'),
       url('assets/Fonts/august/hey_august-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'louis_george_caferegular';
  src: url('./assets/Fonts/louis/louis_george_cafe-webfont.woff2') format('woff2'),
       url('./assets/Fonts/louis/louis_george_cafe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'belgiano_serifregular';
  src: url('./assets/Fonts/Belgiano\ Serif/belgiano_serif_2-webfont.woff2') format('woff2'),
       url('./assets/Fonts/Belgiano\ Serif/belgiano_serif_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: #21251f;
    width: 100vw;
    transition: 0.5s ease-in;
}
nav{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    backdrop-filter: blur(10px);
}
#logo img{
    height: 99%;
    width: auto;
    margin: auto;
}
#navRightBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
#navigationItems ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    list-style: none;
    color: #925ff0;
}
#navigationItems li{
  transition: 0.3s ease-in;
}
#navigationItems li:hover{
  transform: scale(1.08);
}
#navigationItems a:link{
  text-decoration: none;
}

.hamburger{
  display: none;
}
#container1{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#container1 h1{
  font-size: 480px;
  margin-bottom: 50px;
  font-family: franchiseregular;
  font-weight: 100;
  color: #a3fda1;
}
.illustrations{
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin-bottom: 0vh;
}
#container1 img{
  height: 150px;
  width: auto;
}
#container2{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
 
#container2 img{
  height: auto;
  width: 28vw;
  border-radius: 30px;
  margin: auto;
  border: 2px solid #925ff0;
}
#container2 h1{
  font-family: hey_augustregular;
  font-size: 125px;
  font-weight: 100;
  color: #a3fda1;
}
#container2 h3{
  font-family: belgiano_serifregular;
  font-weight: 600;
  font-size: 40px;
  color: #925ff0;
}
#container2 .aboutText{
  width: 500px;
}
#container3 h1,
#container4 h1{
  font-family: franchiseregular;
  color: #a3fda1;
  font-size: 80px;
  font-weight: 100;
}
#container3{
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}
.show{
  opacity: 1;
  filter: blur(0);
}
#container4{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}
.card__content{
  display: flex;
  margin: 30px 10px;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.card__content div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftSide,
.rightSide{
  width: 50%;
}
.card__content div .buttons{
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (width < 1050px){
  #container1 h1{
    font-size: 330px;
  }
  #container2{
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  #container2 .aboutText{
    width: 80vw;
  }
  #container2 img{
    width: 350px;
  }
  #container3,
  #container4{
    height: auto;
    min-height: 100vh;
    margin-bottom: 5vh;
  }
  .card__content{
    flex-direction: column;
  }
  .leftSide,
  .rightSide{
  height: 50%;
  width: 90%;
  }
}
@media screen and (width < 660px){
  #container1{
    justify-content: center;
  }
  #container1 h1{
    font-size: 220px;
  }
  #navigationItems ul{
    display: none;
  }
  .l{
    display: none;
  }
  #navRightBox{
    width: auto;
  }
  .hamburger{
    display: block;
    z-index: 99999999;
  }
  #container2 h1{
    font-size: 80px;
  }
  #container2 h3{
    font-size: 30px;
  }
}
@media screen and (width < 450px){
  nav{
    top: 0;
  }
  #container1 h1{
    font-size: 200px;
  }
}
@media screen and (width < 390px){
  #container1 h1{
    font-size: 170px;
  }
  #container2 h1{
    font-size: 60px;
  }
  #container2 h3{
    font-size: 20px;
  }
}