@font-face {
  font-family: 'franchiseregular';
  src: url('./assets/Fonts/Franchise/franchise-webfont.woff2') format('woff2'),
       url('./assets/Fonts/Franchise/franchise-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background: #21251f;
    width: 100vw;
}
nav{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    backdrop-filter: blur(10px);
}
#logo img{
    height: 99%;
    width: auto;
    margin: auto;
}
#navRightBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
#navigationItems ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    list-style: none;
    color: #925ff0;
}
.hamburger{
  display: none;
}
#container1{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#container1 h1{
  font-size: 480px;
  margin-bottom: 50px;
  font-family: franchiseregular;
  font-weight: 100;
  color: #a3fda1;
}
.illustrations{
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin-bottom: 0vh;
}
#container1 img{
  height: 150px;
  width: auto;
}
@media screen and (width < 1000px){
  #container1 h1{
    font-size: 330px;
  }
}
@media screen and (width < 660px){
  #container1{
    justify-content: center;
  }
  #container1 h1{
    font-size: 220px;
  }
  #navigationItems ul{
    display: none;
  }
  .l{
    display: none;
  }
  #navRightBox{
    width: auto;
    padding-right: 20px;
  }
  .hamburger{
    display: block;
    margin: 5px;
    z-index: 99999999;
  }
}
@media screen and (width < 450px){
  nav{
    bottom: 0;
    top: auto;
  }
  #container1 h1{
    font-size: 200px;
  }
}
@media screen and (width < 390px){
  nav{
    bottom: 0;
    top: auto;
  }

  #container1 h1{
    font-size: 170px;
  }
}